/***
defaults
***/

:root {
  --black: #0d0d0d;
  --green: rgb(10, 166, 109);
  --grey: rgb(227, 227, 227);
  --grey-text: rgb(134, 134, 134);
  --white: #fefefe;

  --font-size-default: 1rem;
  --font-size-small: 0.8rem;
  --font-size-1: 1.3rem;
  --font-size-2: 1.8rem;
  --font-size-3: 2.8rem;

  --line-height-default: 1.6rem;
  --line-height-small: 1.2rem;
  --line-height-1: 1.9rem;
  --line-height-2: 2.2rem;
  --line-height-3: 3.3rem;

  --shadow: 0px 0px 8px 3px rgba(194, 194, 194, 0.4);
}

body,
html {
  font-family: "Cousine", monospace;
  font-size: 16px;
  line-height: var(--line-height-default);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-3);
}

h2 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
}

p {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  margin-bottom: 1.3rem;
}

a {
  color: var(--black);
  font-weight: bold;
}

header img {
  display: block;
  height: 60px;
  margin: auto;
  width: auto;
}

/* footer {
  background: var(--white);
  bottom: 0;
  color: var(--grey-text);
  min-height: 40px;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  width: 95%;
} */

footer {
  background: var(--white);
  color: var(--grey-text);
  margin: 50px auto 0 auto;
  min-height: 40px;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 95%;
}

/***
APP
***/

main {
  box-sizing: border-box;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
  position: relative;
  width: 95vw;
}

main h1 {
  margin: 0 auto 0px auto;
  text-align: center;
  /* width: 95vw; */
}

main p {
  text-align: center;
}

.app {
  margin: 50px auto 0 auto;
  position: relative;
}

/* .app:focus-within {
  background: pink;
  margin: auto;
  position: absolute;
  top: 0;
  width: 800px;
} */

#osOptions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.osOption {
  background: var(--grey);
  border-radius: 5px;
  color: var(--black);
  height: 30px;
  line-height: 32px;
  position: relative;
  text-align: center;
  width: 140px;
}

.osOption:hover {
  cursor: pointer;
}

.osOption span {
  border-radius: 4px;
  color: var(--grey-text);
  font-size: var(--font-size-small);
  /* font-weight: bold; */
  line-height: var(--line-height-default);
  right: 5px;
  top: 3px;
  vertical-align: middle;
}

.selected {
  background: var(--green);
  color: var(--white);
}

.osOption span {
  border-radius: 4px;
  font-size: var(--font-size-small);
  line-height: var(--line-height-default);
  right: 5px;
  vertical-align: middle;
}

.searchbox,
.searchbox input {
  background: var(--grey);
}

.osOption span,
.searchbox span {
  position: absolute;
  text-align: center;
}

.osOption span {
  width: 20px;
}

.searchbox span {
  color: var(--grey-text);
  font-size: var(--font-size-small);
  width: 80px;
}



.searchbox:focus-within,
.searchbox input:focus {
  background: var(--white);
}

.searchbox {
  border-radius: 10px;
  height: 40px;
  position: relative;
  width: 100%;
}

.searchbox input {
  border: none;
  box-sizing: border-box;
  font-family: "Cousine", monospace;
  font-size: var(--font-size-default);
  height: 40px;
  line-height: 40px;
  padding-top: 5px;
  position: absolute;
  left: 10px;
  top: 0px;
  /*width: 450px;*/
}

.searchbox input:focus {
  border-radius: 10px;
  box-sizing: border-box;
  height: 40px;
  left: 0;
  outline: 2px solid var(--green);
  padding: 5px 10px 0 10px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.searchbox span {
  display: none;
}

.selected span {
  display: none;
}

#resultsContainer {
  background: var(--white);
  box-sizing: border-box;
  height: 400px;
  margin: 10px auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  z-index: 1;
}

#resultsContainer > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: none;
  padding: 10px 0px;
  width: 100%;
}

.shortcut,
.textBackground {
  background: var(--grey);
  color: var(--black);
}

.description {
  padding: 2px 6px;
}

.shortcut {
  border-radius: 5px;
  display: block !important;
  /* font-weight: bold; */
  padding: 2px 6px;
  position: relative;
}

.shortcut,
.description {
  box-sizing: border-box;
  text-align: left;
}

.textBackground {
  border-radius: 15px;
  padding: 4px 10px;
}

@media only screen and (min-width: 600px) {
  main {
    margin: 100px auto 0 auto;
    width: 800px;
  }
  main h1 {
    width: 95%;
  }

  .app,
  .searchbox input:focus,
  #resultsContainer {
    width: 570px;
  }

  .searchbox span {
    border-radius: 5px;
    /* color: var(--black); */
    display: inline;
    height: 40px;
    line-height: 40px;
    padding-top: 2px;
    right: 10px;
    top: 0px;
    vertical-align: middle;
  }

  #resultsContainer > div {
    flex-direction: row;
  }

  .shortcut {
    margin-right: 10px;
  }

  .description {
    max-width: 300px;
  }
}
